
/* Media Queries */

/* Phone size */
@media (max-width: 480px) {
  .header {
    flex-direction:row;
    gap: 20px;
  }

  .nav-bar {
    flex-direction: row;
    gap:20px;
  }
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  .slide{
    height: 100%;
    width: 160px;
    position: absolute;
    background-color: #fff;
    transition:0.5s ease;
    transform: translateX(-180px);

}
.slide h1{
    color: blueviolet;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;

}

 ul li {
    list-style: none;

}
 ul li a {
    color: violet;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
 ul li a {
    color: #fff;
    background-color: violet;
}
 ul li a i {
    width: 40px;

}
 input {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
 .toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top:20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba( 0,0,0,0.3);
}
.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color:var(--primary-color);
    border-radius: 50px;
    transition: 0.3s ease; 
  }
  .toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
  }
  
  input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
  }
  input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: rotate(20px);
  }


  input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  /* .slide{
    height: 100%;
    width: 180px;
    position: absolute;
    background-color:var(--primary-color);
    transition: 0.5s ease;
    transform: translateX(-180);
  }

  .slide h1{
    color: var(--primary-color);
    font-weight: 700;
    text-align: left;
    padding:10px 0;
    padding-right: 30px;

  }
  input{
    display: none;
    visibility: hidden;
    appearance: none;
  }
  .toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px ;
    background-color:#fff;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

  }
  .toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color:var(--primary-color);
    border-radius: 50px;
    transition: 0.3s ease; 
  }
  .toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
  }
  
  input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
  }
  input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: rotate(20px);
  }


  input:checked ~ .nav-list{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  } */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .nav-list {
     display: none;
  }

  .nav-auth {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .nav-auth .login {
    display: none;
  }

  .hero-section,
  .doctor-highlight,
  .video-section {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .hero-text,
  .video-text {
    max-width: 100%;
  }

  .hero-image img,
  .doctor-image img,
  .video-card {
    max-width: 90%;
    display: none;
  }

  .btn-auth {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .practice-cards,
  .expert-cards,
  .pricing-cards,
  .testimonials-container,
  .footer-columns {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card-box,
  .expert-card,
  .pricing-card,
  .testimonial-card {
    width: 90%;
    max-width: 320px;
  }

  .newsletter-form {
    flex-direction: column;
    width: 100%;
  }

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .copyrights {
    flex-direction: row;
    gap: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.5rem;
  }
}

/* Tablet size */
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .nav-bar {
    flex-direction: column;
    gap: 30px;
  }

  .nav-list {
    gap: 20px;
  }

  .hero-section,
  .doctor-highlight,
  .video-section {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .hero-text,
  .video-text {
    max-width: 90%;
  }

  .hero-image img,
  .doctor-image img,
  .video-card {
    max-width: 80%;
  }

  .practice-cards,
  .expert-cards,
  .pricing-cards,
  .testimonials-container,
  .footer-columns {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .card-box,
  .expert-card,
  .pricing-card,
  .testimonial-card {
    width: 45%;
    max-width: 350px;
  }

  .newsletter-form {
    width: 80%;
  }

  .copyrights {
    flex-direction: column;
    gap: 15px;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

/* Laptop size */
@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    gap: 50px;
  }

  .nav-bar {
    gap: 100px;
  }

  .hero-section,
  .doctor-highlight,
  .video-section {
    gap: 40px;
  }

  .hero-text,
  .video-text {
    max-width: 50%;
  }

  .hero-image img,
  .doctor-image img,
  .video-card {
    max-width: 50%;
  }

  .practice-cards,
  .expert-cards,
  .pricing-cards,
  .testimonials-container,
  .footer-columns {
    justify-content: center;
    gap: 30px;
  }

  .card-box,
  .expert-card,
  .pricing-card,
  .testimonial-card {
    width: 30%;
  }

  .newsletter-form {
    width: 70%;
  }
}

/* Desktop size (larger than laptop) */
@media (min-width: 1025px) {
  .header {
    gap: 70px;
  }

  .nav-bar {
    gap: 300px;
  }

  .hero-section,
  .doctor-highlight,
  .video-section {
    gap: 30px;
  }

  .practice-cards,
  .expert-cards,
  .pricing-cards,
  .testimonials-container,
  .footer-columns {
    justify-content: center;
    gap: 30px;
  }

  .video-section {
    width: 1050px;
  }

  .pricing-section {
    width: 1050px;
  }
}

@media (min-width:481px)  {
  label {
    display: none;
  }
}